<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>
<h2>Beecome a member, sign up now!</h2>
<div class="flex-container">
  <form class="example-form" [formGroup]="registrationForm" (ngSubmit)="onSubmit()">

    <div class="flex-item-left">
            <mat-form-field class="example-full-width">
              <mat-label>First name</mat-label>
              <input type="first name" formControlName="firstName" matInput>
            </mat-form-field>

            <mat-form-field class="example-full-width">
              <mat-label>Address</mat-label>
              <input type="address" formControlName="address" matInput >
            </mat-form-field>

          <mat-form-field class="example-full-width">
            <mat-label>City</mat-label>
            <input type="address" formControlName="city" matInput >
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <mat-label>Country</mat-label>
            <input type="address" formControlName="country" matInput >
          </mat-form-field>

            <mat-form-field class="example-full-width">
              <mat-label>Username</mat-label>
              <input type="email" formControlName="username" matInput>
            </mat-form-field>

            <mat-form-field class="example-full-width">
              <mat-label>Password</mat-label>
              <input type="password" formControlName="password" matInput >
            </mat-form-field>

            <mat-form-field class="example-full-width">
              <mat-label>Confirm password</mat-label>
              <input type="password" formControlName="confirmPassword" matInput >
              <div *ngIf="registrationForm.get('confirmPassword')?.hasError('mismatchedValues')">
                <span  class="error-message">Passwords do not match.</span>
              </div>
            </mat-form-field>
    </div>
    <div class="flex-item-right">
            <mat-form-field class="example-full-width">
              <mat-label>Last name</mat-label>
              <input type="last name" formControlName="lastName" matInput >
            </mat-form-field>

            <mat-form-field class="example-full-width">
              <mat-label>Phone number:</mat-label>
              <input type="number" formControlName="phoneNumber" matInput >
            </mat-form-field>
<!--        </form>-->
<!--        <form class="example-form">-->
<!--        </form>-->
<!--        <form class="role-combobox">-->
         <mat-form-field class="role">
            <mat-label>Select role</mat-label>
                <mat-select formControlName="role">
                    <mat-option value="ROLE_GUEST"> Guest </mat-option>
                    <mat-option value="ROLE_HOST"> Host </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    <button id="registerBtn" mat-raised-button type="submit" [disabled]="!registrationForm.valid">SIGN UP</button>

  </form>
</div>
<div class="center-container">
<!--<button mat-raised-button  (click)="submit()"  >SIGN UP</button>-->
</div>
<p>Already have an account? <a [routerLink]="['/logIn']">Login here</a></p>
</body>
</html>
