.date-picker{
  margin-top: 20px;
  margin-right: 40px;
  font-size: 16px;
}
.combo-box-container {
  display: flex;
  align-items: center;
  width: 70%;
  margin: auto;
  margin-top:5%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 -2px 4px rgba(0, 0, 0, 0.1);
  background-color: #D3CBE0;
}
#accommodationNameInput{
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 10px;
}
#status-select{
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
}
#filter-btn{
  width: 100px;
  padding: 4px;
  background-color: #D3CBE0;
  border-radius: 10px;
  border:1px black solid;
}

#requestsTable{
  background-color: rgba(210, 207, 222, 0.71);
  box-shadow: none;
}
#requestsTable th,
#requestsTable td {
  padding: 10px;
}
mat-paginator{
  background-color: rgba(210, 207, 222, 0.71);
}
#denyRequestBtn{
  width: 100px;
  padding: 4px;
  background-color: #D3CBE0;
  border-radius: 10px;
  border:1px black solid;
}
#deleteRequestBtn{
  width: 100px;
  padding: 4px;
  background-color: #D3CBE0;
  border-radius: 10px;
  border:1px black solid;
}
#acceptRequestBtn{
  width: 100px;
  padding: 4px;
  background-color: #D3CBE0;
  border-radius: 10px;
  border:1px black solid;
}

#requestsTableDiv{
  align-items: center;
  width: 72%;
  margin: auto;
  margin-top: 5%;
  margin-bottom: 5%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 -2px 4px rgba(0, 0, 0, 0.1);
}
.icons{
  font-weight:unset;
  color: #939393;
}

.guestName {
  display: flex;
  margin-left: 0;
  padding-left: 0;
  margin-right: 0;
  padding-right: 0;
  text-align: center;
}

.iconReportGuest {
  margin: 2px;
  margin-top: 0;
  padding-top: 0;
}
