mat-tree{
  padding: 30px;
}
.example-tree-invisible {
  display: none;
}
li {
  border: 2px solid #ccc;
  display: block;
  width: 90%;
  padding: 15px;
}
.mat-icon-button {
  margin-left: auto;
}
.example-tree-nested-node {
  padding-left: 10px;
}
.child-li{
  background-color: #D3CBE0;
}


