mat-tree{
  padding: 10px;
}
.example-tree-invisible {
  display: none;
}

li {
  list-style-type: none;
  padding: 4px;
}
.child-li{
  width: 600px;
}
.parent-li{
  width: 900px;
}

.example-tree-nested-node {
  padding-left: 10px;
}

.tree-node {
  padding: 4px;
  margin-bottom: 5px;
  width: 700px;
  font-family: Arial, sans-serif;
  color: #333;
}

.nested-node {
  width: 800px;
  margin-left: 10px;
  font-style: italic;
  color: #666;
}

