<app-header></app-header>
<h3><i>Search by destination</i></h3>
  <hr>
  <div class="grid-container">
    <div class="card">
      <img src="../../../assets/images/budapest.jpg" alt="Card 1">
      <button class="cardBtn" mat-button >Budapest</button>
    </div>

    <div class="card">
      <img src="../../../assets/images/istanbul.jpg"  alt="Card 2">
      <button mat-button class="cardBtn">Istanbul</button>
    </div>

    <div class="card">
      <img src="../../../assets/images/madrid.jpg"  alt="Card 3">
      <button mat-button class="cardBtn">Madrid</button>
    </div>

    <div class="card">
      <img src="../../../assets/images/paris.jpg"  alt="Card 1">
      <button  mat-button class="cardBtn">Paris</button>
    </div>

    <div class="card">
      <img src="../../../assets/images/london.jpg"  alt="Card 2">
      <button mat-button class="cardBtn">London</button>
    </div>

    <div class="card">
      <img src="../../../assets/images/rome.jpg"  alt="Card 3">
      <button mat-button class="cardBtn">Rome</button>
    </div>
  </div>
<h3><i>Search by property type</i></h3>
    <hr>
    <div class="grid-container">
      <div class="card">
        <img src="../../../assets/images/hotel.jpg"  alt="Card 1">
        <button  mat-button class="cardBtn">Hotel</button>
      </div>

      <div class="card">
        <img src="../../../assets/images/villa.jpeg"  alt="Card 2">
        <button  mat-button class="cardBtn">Villa</button>
      </div>

      <div class="card">
        <img src="../../../assets/images/ap1.jpg"  alt="Card 3">
        <button mat-button class="cardBtn">Apartment</button>
      </div>
    </div>
<app-footer></app-footer>
