body{
  margin: 0;
  background-color: #D3CBE0;
  border-top: 1px solid #664269;
  justify-content: center; 
  height: auto;
  min-height: 100%;
}
.pagination {
    display: flex;
    padding: 2%;
    justify-content: center;
    margin-top: 20px; /* Adjust the margin as needed */
  }
  
  .pagination button {
    margin: 0 5px;
    padding: 8px 12px;
    cursor: pointer;
    background-color:rgba(95, 54, 119, 0.516) ;
    color: #fff;
    border: none;
    border-radius: 4px;
  }
  
  .pagination button:hover {
    background-color: #664269;
  }