<footer class="site-footer">
  <div class="container">
    <div class="row">
      <div class="column">
        <h3>Contact Us</h3>
        <p>Have questions? Reach out to our support team at <a href="mailto:support@example.com">support@example.com</a></p>
      </div>
      <div class="column">
        <h3>Follow Us</h3>
        <p>Stay connected with us on social media for updates and promotions:</p>
        <ul class="social-icons">
          <li><a href="#" target="_blank"><mat-icon>facebook</mat-icon></a></li>
          <li><a href="#" target="_blank"><mat-icon>email</mat-icon></a></li>
          <li><a href="#" target="_blank"><mat-icon>business</mat-icon></a></li>
        </ul>
      </div>
      <div class="column">
        <h3>Subscribe to Our Newsletter</h3>
        <p>Sign up to receive exclusive offers and updates. Don't worry, we won't spam you!</p>
        <form class="subscribe-form">
          <input type="email" name="email" placeholder="Your Email" required>
          <button id="subscribeBtn" mat-raised-button type="submit">Subscribe</button>
        </form>
      </div>
    </div>
    <hr>
    <div class="rowBottom">
      <div>
        <p class="copyright">© 2023 TravelBee. All rights reserved.</p>
      </div>
    </div>
  </div>
</footer>
